<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Home</title>

    <!-- scripts -->
    <script src="Scripts/jquery-3.5.1.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- bootstrap -->
    <link href="boostrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="boostrap/js/bootstrap.min.js"></script>

    <!-- content -->
    <script src="Scripts/dps_helpers.js"></script>
    <script src="Scripts/dps_main.js"></script>
    <script src="Scripts/dps_controller.js"></script>
    <script src="Scripts/dps_model.js"></script>
    <script src="Scripts/dps_charts.js"></script>

    <script src="Scripts/main.js"></script>
    <link href="Content/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div data-ng-app="dps_app" data-ng-controller="dps_controller">
        <!-- --------------------------------------------------------------------- -->
        <!-- help -->
        <!-- --------------------------------------------------------------------- -->
        <div class="accordion" id="help_accordion">
            <div class="card">
                <div class="card-header" role="tab" id="help_heading">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-parent="#help_accordion" href="#help_collapse" aria-controls="collapse">
                            Help
                        </button>
                    </h2>
                </div>
                <div id="help_collapse" class="border collapse" role="tabpanel" aria-labelledby="help_heading">
                    <ul>
                        <li>
                            Background Colors
                            <ul>
                                <li class="{{ui_color.info}}">
                                    An information value. These are values that do not change with gear and are constants at level 80.
                                </li>
                                <li class="{{ui_color.better}}">
                                    A higher value.
                                </li>
                                <li class="{{ui_color.neutral}}">
                                    An equal or neutral value.
                                </li>
                                <li class="{{ui_color.worse}}">
                                    A lower value.
                                </li>
                            </ul>
                        </li>
                        <li>
                            Stats
                            <ul>
                                <li>
                                    Delta - The difference between the gear stats and the character's base stats. At level 80, stats have a base value of 380 (340 for determination) which determines the dps floor. The base values do not have any affect on the calculations. A base 380 direct hit will result in a 0% direct hit rate and 380 skill/spell speed will result in a 2.5 second delay.
                                </li>
                            </ul>
                        </li>
                        <li>
                            Materia
                            <ul>
                                <li>
                                    <button id="btnAddMateriaHelp" class="btn btn-sm btn-primary btnMateria">
                                        +
                                    </button>
                                    - adds the value of the selected materia.
                                </li>
                                <li>
                                    <button id="btnSubtractMateriaHelp" class="btn btn-sm btn-primary btnMateria">
                                        -
                                    </button>
                                    - subtracts the value of the selected materia.
                                </li>
                            </ul>
                        </li>
                        <li>
                            Buttons
                            <ul>
                                <li>
                                    Archive - Stores the current stats for comparison.
                                </li>
                                <li>
                                    Revert - Sets the current stats to the values stored in the archive.
                                </li>
                            </ul>
                        </li>
                        <li>
                            Notes
                            <ul>
                                <li>
                                    Calculations are based on a character at level 80. All base values (indicated by an information value) are different for lower levels.
                                </li>
                                <li>
                                    This tool is only useful for comparing the secondary stats on equipment assuming they have the same item level. Generally, an item with a higher item level will almost always result in more DPS.
                                </li>
                                <li>
                                    The current calculations do not account for character buffs. Certain stats have different levels of effectiveness when combined with abilities. This functionality can be added in a future update. Examples of how abilities affect calculations:
                                    <ul>
                                        <li>
                                            Critical hit has increasing returns with higher values. It increases both the critical hit rate as well as critical hit damage. A Bard's Wanderer's Minuet or a Dragoon's Battle Litany increases the party's critical hit rate by 2% and 10% respectively. Critical hit is more valuable for the duration these buffs are active.
                                        </li>
                                        <li>
                                            Determination and Tenacity have diminishing returns with higher values.
                                        </li>
                                        <li>
                                            Direct hit has diminishing returns with higher values. Since direct hit only affects the rate, each additional percentage point has no effect on an ability that is already a direct hit. A Bard's Army's Paeon and Battle voice increases the party's direct hit rate by $ and
                                        </li>
                                        <li>
                                            Skill speed has increasing returns with higher values. The closer a user's delay is equal to 0, attacks can happen exponentially more frequently. Abilities such as Ninja's Huton, Samurai's Shifu, and Monk's Greased Lightning would make skill speed more valuable.
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <br />

        <!-- --------------------------------------------------------------------- -->
        <!-- buffs -->
        <!-- --------------------------------------------------------------------- -->
        <div class="accordion" id="buffs_accordion">
            <div class="card">
                <div class="card-header" role="tab" id="buffs_heading">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-parent="#buffs_accordion" href="#buffs_collapse" aria-controls="collapse">
                            Buffs
                        </button>
                    </h2>
                </div>
                <div id="buffs_collapse" class="border collapse" role="tabpanel" aria-labelledby="buffs_heading">
                    <ul>
                        <li>
                            Buffs are still experimental and a work in progress. The numbers may not be completely accurate.
                        </li>
                        <li>
                            Individual Buffs
                            <ul>
                                <li>
                                    Warrior
                                    <ul>
                                        <li>
                                            <input id="chkStormsEye" type="checkbox" ng-model="stats_main.stormseye" ng-change="stats_change()" /> Storm's Eye <br />
                                            10% DPS <br />
                                            Uptime: 100%.
                                        </li>
                                        <li>
                                            <input id="chkInnerRelease" type="checkbox" ng-model="stats_main.innerrelease" ng-change="stats_change()" /> Inner Release <br />
                                            100% Critical Hit Rate, 100% Direct Hit Rate <br />
                                            Duration: 10 seconds; Recast: 90 seconds.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Ninja
                                    <ul>
                                        <li>
                                            <input id="chkHuton" type="checkbox" ng-model="stats_main.huton" ng-change="stats_change()" /> Huton <br />
                                            15% Delay Reduction <br />
                                            Uptime: 100%.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Samurai
                                    <ul>
                                        <li>
                                            <input id="chkShifu" type="checkbox" ng-model="stats_main.shifu" ng-change="stats_change()" /> Shifu <br />
                                            13% Delay Reduction <br />
                                            Uptime: 100%.
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            Raid Buffs
                            <ul>
                                <li>
                                    Bard
                                    <ul>
                                        <li>
                                            <input id="chkWanderersMinuet" type="checkbox" ng-model="stats_main.wanderersminuet" ng-change="stats_change()" /> Wanderer's Minuet<br />
                                            <input id="chkWanderersMinuetShort" type="checkbox" ng-model="stats_main.wanderersminuetShort" ng-change="stats_change()" /> 20 Second Duration <br />
                                            Priority <input id="chkWanderersMinuetnPriority" class="form-control-sm" type="number" ng-model="stats_main.wanderersminuetPriority" ng-change="stats_change()" /> <br />
                                            2% Critical Hit Rate <br />
                                            Duration: 30 seconds; Recast: 80 seconds.
                                        </li>
                                        <li>
                                            <input id="chkMagesBallad" type="checkbox" ng-model="stats_main.magesballad" ng-change="stats_change()" /> Mage's Ballad <br />
                                            <input id="chkMagesBalladShort" type="checkbox" ng-model="stats_main.magesballadShort" ng-change="stats_change()" /> 20 Second Duration <br />
                                            Priority <input id="chkMagesBalladPriority" class="form-control-sm" type="number" ng-model="stats_main.magesballadPriority" ng-change="stats_change()" /> <br />
                                            1% DPS <br />
                                            Duration: 30 seconds; Recast: 80 seconds.
                                        </li>
                                        <li>
                                            <input id="chkArmysPaeon" type="checkbox" ng-model="stats_main.armyspaeon" ng-change="stats_change()" /> Army's Paeon <br />
                                            <input id="chkArmysPaeonShort" type="checkbox" ng-model="stats_main.armyspaeonShort" ng-change="stats_change()" /> 20 Second Duration <br />
                                            Priority <input id="chkArmysPaeonPriority" class="form-control-sm" type="number" ng-model="stats_main.armyspaeonPriority" ng-change="stats_change()" /> <br />
                                            3% Direct Hit Rate <br />
                                            Duration: 30 seconds; Recast: 80 seconds.
                                        </li>
                                        <li>
                                            <input id="chkBattleVoice" type="checkbox" ng-model="stats_main.battlevoice" ng-change="stats_change()" /> Battle Voice <br />
                                            20% Direct Hit Rate <br />
                                            Duration: 20 seconds; Recast: 180 seconds.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Dragoon
                                    <ul>
                                        <li>
                                            <input id="chkBattleLittany" type="checkbox" ng-model="stats_main.battlelittany" ng-change="stats_change()" /> Battle Littany <br />
                                            10% Critical Hit Rate<br />
                                            Duration: 20 seconds; Recast: 180 seconds.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Scholar
                                    <ul>
                                        <li>
                                            <input id="chkChainStrategem" type="checkbox" ng-model="stats_main.chainstratagem" ng-change="stats_change()" /> Chain Strategem <br />
                                            10% Critical Hit Rate<br />
                                            Duration: 15 seconds; Recast: 120 seconds.
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <br />

        <!-- --------------------------------------------------------------------- -->
        <!-- main -->
        <!-- --------------------------------------------------------------------- -->
        <div class="table">
            <div class="row bg-dark">
                <hr />
            </div>
            <br />
            <div class="row">
                <div class="border col-12">
                    <span class="font-weight-bold">
                        Fight Duration
                    </span>
                    <br />
                    <input type="number" class="form-control-sm" data-ng-change="stats_change()" data-ng-model="stats_main.fightduration" id="fightduration" />
                    <span class="font-weight-bold">
                        seconds
                    </span>
                    <br />
                    <br />
                </div>
                <div class="border col-12" id="chart_mainBuffTimeline"></div>
            </div>
            <div class="row">
                <div class="border col-2">
                    <span class="font-weight-bold">
                        Critical Hit Materia
                    </span>
                    <br />
                    <button id="btnCriticalAdd" class="btn btn-sm btn-primary btnMateria" ng-click="materia_add(stats_indexes.critical)">
                        +
                    </button>
                    <select id="cmbCriticalHit" class="form-control-sm" ng-model="materia_selected.critical" ng-options="x.value as x.tier for x in materia">
                    </select>
                    <button id="btnCriticalSubtract" class="btn btn-sm btn-primary btnMateria" ng-click="materia_subtract(stats_indexes.critical)">
                        -
                    </button>
                </div>
                <div class="border col-2 {{ui.critical_main}}">
                    <span class="font-weight-bold">
                        Critical Hit
                    </span>
                    <br />
                    <input type="number" class="form-control-sm" data-ng-change="stats_change()" data-ng-model="stats_main.critical" id="txtCriticalHit" />
                </div>
                <div class="border col-2 {{ui.critical_main}}">
                    <span class="font-weight-bold">
                        Critical Hit Delta
                    </span>
                    <br />
                    <span>
                        {{stats_main.criticalDelta}}
                    </span>
                </div>
                <div class="border col-2 {{ui_color.info}}">
                    <span class="font-weight-bold">
                        per .1% rate+dmg
                    </span>
                    <br />
                    <span>
                        {{base_stats.criticalRatio}}
                    </span>
                </div>
                <div class="border col-1">
                    <span class="font-weight-bold">
                        Rate
                    </span>
                    <br />
                    <span class="{{ui_color.info}}">
                        {{base_stats.criticalBaseRate}}%
                    </span>
                    +
                    <span class="{{ui.critical_main}}">
                        {{stats_main.criticalRate.toFixed(2)}}%
                    </span>
                </div>
                <div class="border col-1">
                    <span class="font-weight-bold">
                        Damage
                    </span>
                    <br />
                    <span class="{{ui_color.info}}">
                        {{base_stats.criticalBaseDamage}}%
                    </span>
                    +
                    <span class="{{ui.critical_main}}">
                        {{stats_main.criticalDamage.toFixed(2)}}%
                    </span>
                </div>
                <div class="border col-2 {{ui.critical_main}}">
                    <span class="font-weight-bold">
                        Critical Hit DPS
                    </span>
                    <br />
                    <span>
                        {{stats_main.criticalDPS.toFixed(2)}}%
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="border col-2">
                    <span class="font-weight-bold">
                        Determination Materia
                    </span>
                    <br />
                    <button id="btnDeterminationAdd" class="btn btn-sm btn-primary btnMateria" ng-click="materia_add(stats_indexes.determination)">
                        +
                    </button>
                    <select id="cmbDetermination" class="form-control-sm" ng-model="materia_selected.determination" ng-options="x.value as x.tier for x in materia">
                    </select>
                    <button id="btnDeterminationSubtract" class="btn btn-sm btn-primary btnMateria" ng-click="materia_subtract(stats_indexes.determination)">
                        -
                    </button>
                </div>
                <div class="border col-2 {{ui.determination_main}}">
                    <span class="font-weight-bold">
                        Determination
                    </span>
                    <br />
                    <input type="number" class="form-control-sm" data-ng-change="stats_change()" data-ng-model="stats_main.determination" id="txtDetermination" />
                </div>
                <div class="border col-2 {{ui.determination_main}}">
                    <span class="font-weight-bold">
                        Determination Delta
                    </span>
                    <br />
                    <span>
                        {{stats_main.determinationDelta}}
                    </span>
                </div>
                <div class="border col-2 {{ui_color.info}}">
                    <span class="font-weight-bold">
                        per .1% dps
                    </span>
                    <br />
                    <span>
                        {{base_stats.determinationRatio}}
                    </span>
                </div>
                <div class="col-1">
                </div>
                <div class="col-1">
                </div>
                <div class="border col-2 {{ui.determination_main}}">
                    <span class="font-weight-bold">
                        Determination DPS
                    </span>
                    <br />
                    <span>
                        {{stats_main.determinationDPS.toFixed(2)}}%
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="border col-2">
                    <span class="font-weight-bold">
                        Direct Hit Materia
                    </span>
                    <br />
                    <button id="btnDirectHitAdd" class="btn btn-sm btn-primary btnMateria" ng-click="materia_add(stats_indexes.directhit)">
                        +
                    </button>
                    <select id="cmbDirectHit" class="form-control-sm" ng-model="materia_selected.directhit" ng-options="x.value as x.tier for x in materia">
                    </select>
                    <button id="btnDirectHitSubtract" class="btn btn-sm btn-primary btnMateria" ng-click="materia_subtract(stats_indexes.directhit)">
                        -
                    </button>
                </div>
                <div class="border col-2 {{ui.directhit_main}}">
                    <span class="font-weight-bold">
                        Direct Hit
                    </span>
                    <br />
                    <input type="number" class="form-control-sm" data-ng-change="stats_change()" data-ng-model="stats_main.directhit" id="txtDirectHit" />
                </div>
                <div class="border col-2 {{ui.directhit_main}}">
                    <span class="font-weight-bold">
                        Direct Hit Delta
                    </span>
                    <br />
                    <span>
                        {{stats_main.directhitDelta}}
                    </span>
                </div>
                <div class="border col-2 {{ui_color.info}}">
                    <span class="font-weight-bold">
                        per .1% rate
                    </span>
                    <br />
                    <span>
                        {{base_stats.directhitRatio}}
                    </span>
                </div>
                <div class="border col-1 {{ui.directhit_main}}">
                    <span class="font-weight-bold">
                        Rate
                    </span>
                    <br />
                    <span>
                        {{stats_main.directhitRate.toFixed(2)}}%
                    </span>
                </div>
                <div class="border col-1 {{ui_color.info}}">
                    <span class="font-weight-bold">
                        Damage
                    </span>
                    <br />
                    <span>
                        {{base_stats.directhitBaseDamage}}%
                    </span>
                </div>
                <div class="border col-2 {{ui.directhit_main}}">
                    <span class="font-weight-bold">
                        Direct Hit DPS
                    </span>
                    <br />
                    <span>
                        {{stats_main.directhitDPS.toFixed(2)}}%
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="border col-2">
                    <span class="font-weight-bold">
                        Skill/Spell Speed Materia
                    </span>
                    <br />
                    <button id="btnSkillSpeedAdd" class="btn btn-sm btn-primary btnMateria" ng-click="materia_add(stats_indexes.skillspeed)">
                        +
                    </button>
                    <select id="cmbSkillSpeed" class="form-control-sm" ng-model="materia_selected.skillspeed" ng-options="x.value as x.tier for x in materia">
                    </select>
                    <button id="btnSkillSpeedSubtract" class="btn btn-sm btn-primary btnMateria" ng-click="materia_subtract(stats_indexes.skillspeed)">
                        -
                    </button>
                </div>
                <div class="border col-2 {{ui.skillspeed_main}}">
                    <span class="font-weight-bold">
                        Skill/Spell Speed
                    </span>
                    <br />
                    <input type="number" class="form-control-sm" data-ng-change="stats_change()" data-ng-model="stats_main.skillspeed" id="txtSkillSpeed" />
                </div>
                <div class="border col-2 {{ui.skillspeed_main}}">
                    <span class="font-weight-bold">
                        Skill/Spell Speed Delta
                    </span>
                    <br />
                    <span>
                        {{stats_main.skillspeedDelta}}
                    </span>
                </div>
                <div class="border col-2 {{ui_color.info}}">
                    <span class="font-weight-bold">
                        Base Delay
                    </span>
                    <br />
                    <span>
                        {{base_stats.skillspeedBase}}
                    </span>
                </div>
                <div class="border col-1 {{ui.skillspeed_main}}">
                    <span class="font-weight-bold">
                        Delay
                    </span>
                    <br />
                    <span>
                        {{stats_main.skillspeedDelay}}
                    </span>
                </div>
                <div class="border col-1">
                    <span class="font-weight-bold">
                        Hits
                    </span>
                    <br />
                    <span>
                        {{stats_main.skillspeedHits}}
                    </span>
                </div>
                <div class="border col-2 {{ui.skillspeed_main}}">
                    <span class="font-weight-bold">
                        Skill/Spell Speed DPS
                    </span>
                    <br />
                    <span>
                        {{stats_main.skillspeedDPSImprovement.toFixed(2)}}%
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="border col-2">
                    <span class="font-weight-bold">
                        Tenacity Materia
                    </span>
                    <br />
                    <button id="btnTenacityAdd" class="btn btn-sm btn-primary btnMateria" ng-click="materia_add(stats_indexes.tenacity)">
                        +
                    </button>
                    <select id="cmbTenacity" class="form-control-sm" ng-model="materia_selected.tenacity" ng-options="x.value as x.tier for x in materia">
                    </select>
                    <button id="btnTenacitySubtract" class="btn btn-sm btn-primary btnMateria" ng-click="materia_subtract(stats_indexes.tenacity)">
                        -
                    </button>
                </div>
                <div class="border col-2 {{ui.tenacity_main}}">
                    <span class="font-weight-bold">
                        Tenacity
                    </span>
                    <br />
                    <input type="number" class="form-control-sm" data-ng-change="stats_change()" data-ng-model="stats_main.tenacity" id="txtTenacity" />
                </div>
                <div class="border col-2 {{ui.tenacity_main}}">
                    <span class="font-weight-bold">
                        Tenacity Delta
                    </span>
                    <br />
                    <span>
                        {{stats_main.tenacityDelta}}
                    </span>
                </div>
                <div class="border col-2 {{ui_color.info}}">
                    <span class="font-weight-bold">
                        per .1% dps
                    </span>
                    <br />
                    <span>
                        {{base_stats.tenacityRatio}}
                    </span>
                </div>
                <div class="col-1">
                </div>
                <div class="col-1">
                </div>
                <div class="border col-2 {{ui.tenacity_main}}">
                    <span class="font-weight-bold">
                        Tenacity DPS
                    </span>
                    <br />
                    <span>
                        {{stats_main.tenacityDPS.toFixed(2)}}%
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <span class="font-weight-bold">
                        Food
                    </span>
                    <br />
                    <select id="cmbFood" class="form-control-sm" ng-change="stats_change()" ng-model="stats_main.food_selected" ng-options="x.name for x in food">
                    </select>
                </div>
                <div class="col-2">
                    <span class="font-weight-bold">
                        {{stats_main.food_selected.name}}
                    </span>
                    <br />
                    <span>
                        {{stats_main.food_stat1}}
                    </span>
                    <span>
                        {{stats_main.food_value1}}
                    </span>
                    <br />
                    <span>
                        {{stats_main.food_stat2}}
                    </span>
                    <span>
                        {{stats_main.food_value2}}
                    </span>
                </div>
                <div class="border col-2 {{ui_color.info}}">
                    <span class="font-weight-bold">
                        Base Stats:
                    </span>
                    <span>
                        {{base_stats.levelBase}}
                    </span>
                    <br />
                    <span class="font-weight-bold">
                        Determination:
                    </span>
                    <span>
                        340
                    </span>
                </div>
                <div class="col-2">
                </div>
                <div class="col-1">
                </div>
                <div class="col-1">
                </div>
                <div class="border col-2 {{ui.total_main}}">
                    <span class="font-weight-bold">
                        Total DPS
                    </span>
                    <br />
                    <span>
                        {{stats_main.totaldps.toFixed(2)}}%
                    </span>
                </div>
            </div>
            <!-- --------------------------------------------------------------------- -->
            <!-- buttons -->
            <!-- --------------------------------------------------------------------- -->
            <br />
            <div class="row">
                <div class="col-2">
                    <button class="btn btn-primary form-control btnArchive" data-ng-click="archive_save()">
                        Archive
                    </button>
                </div>
                <div class="col-2">
                </div>
                <div class="col-2">
                </div>
                <div class="col-2">
                </div>
                <div class="col-1">
                </div>
                <div class="col-1">
                </div>
                <div class="col-2">
                    <button class="btn btn-primary form-control btnArchive" data-ng-click="archive_revert()">
                        Revert
                    </button>
                </div>
            </div>
            <br />
            <div class="row bg-dark">
                <hr />
            </div>
            <br />
            <!-- --------------------------------------------------------------------- -->
            <!-- archive -->
            <!-- --------------------------------------------------------------------- -->
            <div class="row">
                <div class="border col-12">
                    <span class="font-weight-bold">
                        Fight Duration:
                    </span>
                    <span>
                        {{stats_archive.fightduration}}
                    </span>
                    <span>
                        seconds
                    </span>
                    <br />
                    <br />
                </div>
                <div class="border col-12" id="chart_archiveBuffTimeline"></div>
            </div>
            <div class="row">
                <div class="border col-2 {{ui.critical_archive}}">
                    <span class="font-weight-bold">
                        Critical Hit Difference
                    </span>
                    <br />
                    <span>
                        {{stats_archive.criticalDelta - stats_main.criticalDelta}}
                    </span>
                </div>
                <div class="border col-2 {{ui.critical_archive}}">
                    <span class="font-weight-bold">
                        Critical Hit
                    </span>
                    <br />
                    <span>
                        {{stats_archive.critical}}
                    </span>
                </div>
                <div class="border col-2 {{ui.critical_archive}}">
                    <span class="font-weight-bold">
                        Critical Hit Delta
                    </span>
                    <br />
                    <span>
                        {{stats_archive.criticalDelta}}
                    </span>
                </div>
                <div class="border col-2 {{ui_color.info}}">
                    <span class="font-weight-bold">
                        per .1% rate+dmg
                    </span>
                    <br />
                    <span>
                        {{base_stats.criticalRatio}}
                    </span>
                </div>
                <div class="border col-1">
                    <span class="font-weight-bold">
                        Rate
                    </span>
                    <br />
                    <span class="{{ui_color.info}}">
                        {{base_stats.criticalBaseRate}}%
                    </span>
                    +
                    <span class="{{ui.critical_archive}}">
                        {{stats_archive.criticalRate.toFixed(2)}}%
                    </span>
                </div>
                <div class="border col-1">
                    <span class="font-weight-bold">
                        Damage
                    </span>
                    <br />
                    <span class="{{ui_color.info}}">
                        {{base_stats.criticalBaseDamage}}%
                    </span>
                    +
                    <span class="{{ui.critical_archive}}">
                        {{stats_archive.criticalDamage.toFixed(2)}}%
                    </span>
                </div>
                <div class="border col-2 {{ui.critical_archive}}">
                    <span class="font-weight-bold">
                        Critical Hit DPS
                    </span>
                    <br />
                    <span>
                        {{stats_archive.criticalDPS.toFixed(2)}}%
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="border col-2 {{ui.determination_archive}}">
                    <span class="font-weight-bold">
                        Determination Difference
                    </span>
                    <br />
                    <span>
                        {{stats_archive.determinationDelta - stats_main.determinationDelta}}
                    </span>
                </div>
                <div class="border col-2 {{ui.determination_archive}}">
                    <span class="font-weight-bold">
                        Determination
                    </span>
                    <br />
                    <span>
                        {{stats_archive.determination}}
                    </span>
                </div>
                <div class="border col-2 {{ui.determination_archive}}">
                    <span class="font-weight-bold">
                        Determination Delta
                    </span>
                    <br />
                    <span>
                        {{stats_archive.determinationDelta}}
                    </span>
                </div>
                <div class="border col-2 {{ui_color.info}}">
                    <span class="font-weight-bold">
                        per .1% dps
                    </span>
                    <br />
                    <span>
                        {{base_stats.determinationRatio}}
                    </span>
                </div>
                <div class="col-1">
                </div>
                <div class="col-1">
                </div>
                <div class="border col-2 {{ui.determination_archive}}">
                    <span class="font-weight-bold">
                        Determination DPS
                    </span>
                    <br />
                    <span>
                        {{stats_archive.determinationDPS.toFixed(2)}}%
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="border col-2 {{ui.directhit_archive}}">
                    <span class="font-weight-bold">
                        Direct Hit Difference
                    </span>
                    <br />
                    <span>
                        {{stats_archive.directhitDelta - stats_main.directhitDelta}}
                    </span>
                </div>
                <div class="border col-2 {{ui.directhit_archive}}">
                    <span class="font-weight-bold">
                        Direct Hit
                    </span>
                    <br />
                    <span>
                        {{stats_archive.directhit}}
                    </span>
                </div>
                <div class="border col-2 {{ui.directhit_archive}}">
                    <span class="font-weight-bold">
                        Direct Hit Delta
                    </span>
                    <br />
                    <span>
                        {{stats_archive.directhitDelta}}
                    </span>
                </div>
                <div class="border col-2 {{ui_color.info}}">
                    <span class="font-weight-bold">
                        per .1% rate
                    </span>
                    <br />
                    <span>
                        {{base_stats.directhitRatio}}
                    </span>
                </div>
                <div class="border col-1 {{ui.directhit_archive}}">
                    <span class="font-weight-bold">
                        Rate
                    </span>
                    <br />
                    <span>
                        {{stats_archive.directhitRate.toFixed(2)}}%
                    </span>
                </div>
                <div class="border col-1 {{ui_color.info}}">
                    <span class="font-weight-bold">
                        Damage
                    </span>
                    <br />
                    <span>
                        {{base_stats.directhitBaseDamage}}%
                    </span>
                </div>
                <div class="border col-2 {{ui.directhit_archive}}">
                    <span class="font-weight-bold">
                        Direct Hit DPS
                    </span>
                    <br />
                    <span>
                        {{stats_archive.directhitDPS.toFixed(2)}}%
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="border col-2 {{ui.skillspeed_archive}}">
                    <span class="font-weight-bold">
                        Skill/Spell Speed Difference
                    </span>
                    <br />
                    <span>
                        {{stats_archive.skillspeedDelta - stats_main.skillspeedDelta}}
                    </span>
                </div>
                <div class="border col-2 {{ui.skillspeed_archive}}">
                    <span class="font-weight-bold">
                        Skill/Spell Speed
                    </span>
                    <br />
                    <span>
                        {{stats_archive.skillspeed}}
                    </span>
                </div>
                <div class="border col-2 {{ui.skillspeed_archive}}">
                    <span class="font-weight-bold">
                        Skill/Spell Speed Delta
                    </span>
                    <br />
                    <span>
                        {{stats_archive.skillspeedDelta}}
                    </span>
                </div>
                <div class="border col-2 {{ui_color.info}}">
                    <span class="font-weight-bold">
                        Base Delay
                    </span>
                    <br />
                    <span>
                        {{base_stats.skillspeedBase}}
                    </span>
                </div>
                <div class="border col-1 {{ui.skillspeed_archive}}">
                    <span class="font-weight-bold">
                        Delay
                    </span>
                    <br />
                    <span>
                        {{stats_archive.skillspeedDelay}}
                    </span>
                </div>
                <div class="border col-1">
                    <span class="font-weight-bold">
                        Hits
                    </span>
                    <br />
                    <span>
                        {{stats_archive.skillspeedHits}}
                    </span>
                </div>
                <div class="border col-2 {{ui.skillspeed_archive}}">
                    <span class="font-weight-bold">
                        Skill/Spell Speed DPS
                    </span>
                    <br />
                    <span>
                        {{stats_archive.skillspeedDPSImprovement.toFixed(2)}}%
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="border col-2 {{ui.tenacity_archive}}">
                    <span class="font-weight-bold">
                        Tenacity Difference
                    </span>
                    <br />
                    <span>
                        {{stats_archive.tenacityDelta - stats_main.tenacityDelta}}
                    </span>
                </div>
                <div class="border col-2 {{ui.tenacity_archive}}">
                    <span class="font-weight-bold">
                        Tenacity
                    </span>
                    <br />
                    <span>
                        {{stats_archive.tenacity}}
                    </span>
                </div>
                <div class="border col-2 {{ui.tenacity_archive}}">
                    <span class="font-weight-bold">
                        Tenacity Delta
                    </span>
                    <br />
                    <span>
                        {{stats_archive.tenacityDelta}}
                    </span>
                </div>
                <div class="border col-2 {{ui_color.info}}">
                    <span class="font-weight-bold">
                        per .1% dps
                    </span>
                    <br />
                    <span>
                        {{base_stats.tenacityRatio}}
                    </span>
                </div>
                <div class="col-1">
                </div>
                <div class="col-1">
                </div>
                <div class="border col-2 {{ui.tenacity_archive}}">
                    <span class="font-weight-bold">
                        Tenacity DPS
                    </span>
                    <br />
                    <span>
                        {{stats_archive.tenacityDPS.toFixed(2)}}%
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="border col-2 {{ui.total_archive}}">
                    <span class="font-weight-bold">
                        Total DPS Difference
                    </span>
                    <br />
                    <span>{{(stats_archive.totaldps - stats_main.totaldps).toFixed(2)}}%</span>
                </div>
                <div class="col-2">
                    <span class="font-weight-bold">
                        {{stats_archive.food_selected.name}}
                    </span>
                    <br />
                    <span>
                        {{stats_archive.food_stat1}}
                    </span>
                    <span>
                        {{stats_archive.food_value1}}
                    </span>
                    <br />
                    <span>
                        {{stats_archive.food_stat2}}
                    </span>
                    <span>
                        {{stats_archive.food_value2}}
                    </span>
                </div>
                <div class="border col-2 {{ui_color.info}}">
                    <span class="font-weight-bold">
                        Base Stats:
                    </span>
                    <span>
                        {{base_stats.levelBase}}
                    </span>
                    <br />
                    <span class="font-weight-bold">
                        Determination:
                    </span>
                    <span>
                        340
                    </span>
                </div>
                <div class="col-2">
                </div>
                <div class="col-1">
                </div>
                <div class="col-1">
                </div>
                <div class="border col-2 {{ui.total_archive}}">
                    <span class="font-weight-bold">
                        Total DPS
                    </span>
                    <br />
                    <span>
                        {{stats_archive.totaldps.toFixed(2)}}%
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>